In [66]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
% matplotlib inline 
from __future__ import division

In [67]:
#introns=introns.groupby(['Geneid']).sum()

In [69]:
hsp=pd.read_table('hsp70.txt')
hsp

  Target     Time           fc
0  hsp70   15 min   294.749448
1  hsp70   15 min    54.409841
2  hsp70   15 min    57.893272
3  hsp70   30 min  1035.386045
4  hsp70   30 min   324.351105
5  hsp70   30 min   294.741264
6  hsp70  180 min  1097.596437
7  hsp70  180 min   985.105694
8  hsp70  180 min  1027.593870

In [73]:
hsp70_mean=hsp.groupby(['Time']).mean()
hsp70_mean.reset_index(inplace=True)
hsp70_mean

      Time           fc
0   15 min   135.684187
1  180 min  1036.765334
2   30 min   551.492805

In [76]:
hsp70_std=hsp.groupby(['Time']).std()
hsp70_std.reset_index(inplace=True)
hsp70_std.rename(columns={'fc':'std'},inplace=True)
hsp70_std

      Time         std
0   15 min  137.765567
1  180 min   56.803421
2   30 min  419.325275

In [81]:
hsp_70_merge=pd.merge(hsp70_mean,hsp70_std,on='Time',how='inner')
hsp_70_merge.to_csv('hsp70_for_R.csv')

In [82]:
linc=pd.read_table('linc7.txt')

In [83]:
linc7_mean=linc.groupby(['Time']).mean()
linc7_mean.reset_index(inplace=True)
linc7_mean

      Time        fc
0   15 min  1.648082
1  180 min  5.151033
2   30 min  3.069897

In [84]:
linc7_std=linc.groupby(['Time']).std()
linc7_std.reset_index(inplace=True)
linc7_std.rename(columns={'fc':'std'},inplace=True)
linc7_std

      Time       std
0   15 min  0.196713
1  180 min  0.436710
2   30 min  0.511732

In [86]:
linc7_merge=pd.merge(linc7_mean,linc7_std,on='Time',how='inner')
linc7_merge.to_csv('linc7_for_R.csv')

/home/wschrein/001/FIgure3

edit_linc_bars.ipynb  linc.csv	Linc_R_BAR_graph.ipynb	merge.csv